<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qftx.tsm.plan.user.month.dao.PlanUsermonthToSignLogMapper">
	<sql id="cols">
	t.id,t.org_id,t.group_id,t.user_id,t.sign_num,t.money,t.updatetime,t.inputtime,t.is_del
	</sql>

	<resultMap type="com.qftx.tsm.plan.user.month.bean.PlanUsermonthToSignLogBean" id="PlanUsermonthToSignLogMap">
		<result column="id" property="id"/>
		<result column="org_id" property="orgId"/>
		<result column="group_id" property="groupId"/>
		<result column="user_id" property="userId"/>
		<result column="sign_num" property="signNum"/>
		<result column="money" property="money"/>
		<result column="updatetime" property="updatetime"/>
		<result column="inputtime" property="inputtime"/>
		<result column="is_del" property="isDel"/>
	</resultMap>
	
	<!-- 查询-->
	<select id="findSumFact" resultMap="PlanUsermonthToSignLogMap">
		select ifnull(sum(t.sign_num),0)as sign_num,ifnull(sum(t.money),0)as money  from plan_usermonth_to_sign_log t
		where 1=1
		<if test="orgId != null">and t.org_id = #{orgId}</if>
		<if test="id != null">and t.id = #{id}</if>
		<if test="groupId != null">and t.group_id = #{groupId}</if>
		<if test="userId != null">and t.user_id = #{userId}</if>
		<if test="signNum != null">and t.sign_num = #{signNum}</if>
		<if test="money != null">and t.money = #{money}</if>
		<if test="updatetime != null">and t.updatetime = #{updatetime}</if>
		<if test="inputtime != null">and t.inputtime = #{inputtime}</if>
		<if test="isDel != null">and t.is_del = #{isDel}</if>
		<if test="userIds!=null and userIds.length>0">
		<foreach collection="userIds" item="uid"  open="and ("  separator="or" close=")">
			t.user_id = #{uid}
		</foreach>
		</if>
		<if test="fromDate != null">AND t.INPUTTIME <![CDATA[ >=]]> #{fromDate,jdbcType=TIMESTAMP} </if>
		<if test="toDate != null">AND t.INPUTTIME <![CDATA[ <=]]> #{toDate,jdbcType=TIMESTAMP} </if>
	</select>
	
	<!-- 查询-->
	<select id="findByCondtion" resultMap="PlanUsermonthToSignLogMap">
		select
		<include refid="cols" />
		from plan_usermonth_to_sign_log t
		where 1=1
		<if test="id != null">and t.id = #{id}</if>
		<if test="orgId != null">and t.org_id = #{orgId}</if>
		<if test="groupId != null">and t.group_id = #{groupId}</if>
		<if test="userId != null">and t.user_id = #{userId}</if>
		<if test="signNum != null">and t.sign_num = #{signNum}</if>
		<if test="money != null">and t.money = #{money}</if>
		<if test="updatetime != null">and t.updatetime = #{updatetime}</if>
		<if test="inputtime != null">and t.inputtime = #{inputtime}</if>
		<if test="isDel != null">and t.is_del = #{isDel}</if>
	</select>
	
	<!-- 查询-->
	<select id="findListPage" resultMap="PlanUsermonthToSignLogMap">
		select
		<include refid="cols" />
		from plan_usermonth_to_sign_log t
		where 1=1
		<if test="id != null">and t.id = #{id}</if>
		<if test="orgId != null">and t.org_id = #{orgId}</if>
		<if test="groupId != null">and t.group_id = #{groupId}</if>
		<if test="userId != null">and t.user_id = #{userId}</if>
		<if test="signNum != null">and t.sign_num = #{signNum}</if>
		<if test="money != null">and t.money = #{money}</if>
		<if test="updatetime != null">and t.updatetime = #{updatetime}</if>
		<if test="inputtime != null">and t.inputtime = #{inputtime}</if>
		<if test="isDel != null">and t.is_del = #{isDel}</if>
	</select>
	
	<!-- 查询-->
	<select id="getByCondtion" resultMap="PlanUsermonthToSignLogMap">
		select
		<include refid="cols" />
		from plan_usermonth_to_sign_log t
		where 1=1
		<if test="id != null">and t.id = #{id}</if>
		<if test="orgId != null">and t.org_id = #{orgId}</if>
		<if test="groupId != null">and t.group_id = #{groupId}</if>
		<if test="userId != null">and t.user_id = #{userId}</if>
		<if test="signNum != null">and t.sign_num = #{signNum}</if>
		<if test="money != null">and t.money = #{money}</if>
		<if test="updatetime != null">and t.updatetime = #{updatetime}</if>
		<if test="inputtime != null">and t.inputtime = #{inputtime}</if>
		<if test="isDel != null">and t.is_del = #{isDel}</if>
	</select>
	
	<!-- 动态更新 -->
	<update id="updateTrends">
		update plan_usermonth_to_sign_log
		<set>
		<if test="id != null">id = #{id},</if>
		<if test="orgId != null">org_id = #{orgId},</if>
		<if test="groupId != null">group_id = #{groupId},</if>
		<if test="userId != null">user_id = #{userId},</if>
		<if test="signNum != null">sign_num = #{signNum},</if>
		<if test="money != null">money = #{money},</if>
		<if test="updatetime != null">updatetime = #{updatetime},</if>
		<if test="inputtime != null">inputtime = #{inputtime},</if>
		<if test="isDel != null">is_del = #{isDel},</if>
		</set>
		where 1=1
		<if test="id != null">and id = #{id}</if>
		<if test="orgId != null">and org_id = #{orgId}</if>
		<if test="groupId != null">and group_id = #{groupId}</if>
		<if test="userId != null">and user_id = #{userId}</if>
		<if test="signNum != null">and sign_num = #{signNum}</if>
		<if test="money != null">and money = #{money}</if>
		<if test="updatetime != null">and updatetime = #{updatetime}</if>
		<if test="inputtime != null">and inputtime = #{inputtime}</if>
		<if test="isDel != null">and is_del = #{isDel}</if>
	</update>
	
	<!-- 插入 -->
	<insert id="insert" parameterType="com.qftx.tsm.plan.user.month.bean.PlanUsermonthToSignLogBean">
	insert into plan_usermonth_to_sign_log(id,org_id,group_id,user_id,sign_num,money,updatetime,inputtime,is_del)
	values(#{id},#{orgId},#{groupId},#{userId},#{signNum},#{money},#{updatetime},#{inputtime},#{isDel})
	</insert>
	
	<insert id="insertBatch" parameterType="ArrayList">  
    insert into plan_usermonth_to_sign_log(id,org_id,group_id,user_id,sign_num,money,updatetime,inputtime,is_del)
    values
    <foreach collection="list" item="bean" separator=",">
    	(#{bean.id},#{bean.orgId},#{bean.groupId},#{bean.userId},#{bean.signNum},#{bean.money},#{bean.updatetime},#{bean.inputtime},#{bean.isDel})
    </foreach>
    </insert>

</mapper>