<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qftx.tsm.area.dao.ChinaCountyMapper">
	<resultMap id="BaseResultMap" type="com.qftx.tsm.area.bean.ChinaCountyBean">
		<id column="oid" property="oid" jdbcType="DECIMAL" />
		<result column="oname" property="oname" jdbcType="VARCHAR" />
		<result column="cid" property="cid" jdbcType="DECIMAL" />
	</resultMap>
	<!-- 实体表名 -->
	<sql id="table_name">sys_china_county</sql>

	<!-- 实体条件查询组装 -->
	<sql id="entity_condition_orderby">
		<if test="oid != null and oid !=''">
		    AND oid = #{oid,jdbcType=DECIMAL} 
		</if>
		<if test="oname != null and oname !=''">
		    AND oname = #{oname,jdbcType=VARCHAR} 
		</if>
		<if test="cid != null and cid !=''">
		    AND cid = #{cid,jdbcType=DECIMAL} 
		</if>
	</sql>

	<!-- 批量插入实体对应的字段语句 -->
	<sql id="Base_Column_List">
		oid,oname,cid
	</sql>

	<!-- ################################################################################################## 
		#########################基础定义配置 通用脚本（无需修改，单resultType需要替换）############# ################################################################################################## -->

	<!-- 查询所有实体信息，对应接口中的find方法 -->
	<select id="find" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="table_name" />
	</select>

	<select id="findListPage" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="table_name" />
		where 1=1
		<include refid="entity_condition_orderby" />
	</select>

	<!-- 根据条件查询所有实体信息，对应接口中的findByCondtion方法 -->
	<select id="findByCondtion" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="table_name" />
		where 1=1
		<include refid="entity_condition_orderby" />
	</select>

	<!-- 按条件查询获取实体信息，对应接口中的getByCondtion方法 -->
	<select id="getByCondtion" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="table_name" />
		where 1=1
		<include refid="entity_condition_orderby" />
	</select>
	
</mapper>