<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qftx.tsm.report.dao.CustomReportMapper" >
  <!-- 基础结果集 -->
  <resultMap id="BaseResultMap" type="com.qftx.tsm.report.bean.CustomReportBean" >
    <id column="CUSTOM_REPORT_ID" property="customReportId" jdbcType="VARCHAR" />
    <result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
    <result column="CUSTOM_REPORT_NAME" property="customReportName" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="IS_DEL" property="isDel" jdbcType="DECIMAL" />
    <result column="INPUT_DATE" property="inputDate" jdbcType="TIMESTAMP" />
    <result column="INPUT_ACC" property="inputAcc" jdbcType="VARCHAR" />
    <result column="is_double" property="isDouble" jdbcType="INTEGER" />
    <result column="DATA" property="data" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  <!-- 实体表名 -->
  <sql id="table_name">TSM_CUSTOM_REPORT</sql>
  
  <!-- 实体条件查询组装 -->
	<sql id="entity_condition_orderby">
		<if test="orgId != null and orgId !=''">
			and ORG_ID = #{orgId,jdbcType=VARCHAR}
		</if>
		<if test="customReportId != null and customReportId!=''">
			and CUSTOM_REPORT_ID = #{customReportId,jdbcType=VARCHAR}
		</if>
		<if test="customReportName != null and customReportName !=''">
			and CUSTOM_REPORT_NAME = #{customReportName,jdbcType=VARCHAR}
		</if>
		<if test="updateDate != null">
			and UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
		</if>
		<if test="isDel != null">
			and IS_DEL = #{isDel,jdbcType=DECIMAL}
		</if>
		<if test="inputDate != null">
			and INPUT_DATE = #{inputDate,jdbcType=TIMESTAMP}
		</if>
		<if test="inputAcc != null and inputAcc !=''">
			and INPUT_ACC = #{inputAcc,jdbcType=VARCHAR}
		</if>
		<if test="isDouble != null">
			and IS_DOUBLE = #{isDouble,jdbcType=DECIMAL}
		</if>
		<if test="data != null and data !=''">
			and DATA = #{data,jdbcType=LONGVARCHAR}
		</if>	
		<if test="orderKey != null and orderKey !=''">
			order by ${orderKey}
		</if>			
	</sql>
	<!-- 修改实体对应set语句 -->
	<sql id="trents_update_set_sql">
		<trim prefix="set" suffixOverrides=",">
			<if test="customReportName != null and customReportName !=''">
				CUSTOM_REPORT_NAME = #{customReportName,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="isDel != null">
				IS_DEL = #{isDel,jdbcType=DECIMAL},
			</if>
			<if test="inputDate != null">
				INPUT_DATE = #{inputDate,jdbcType=TIMESTAMP},
			</if>
			<if test="inputAcc != null and inputAcc !=''">
				INPUT_ACC = #{inputAcc,jdbcType=VARCHAR},
			</if>
			<if test="isDouble != null">
				IS_DOUBLE = #{isDouble,jdbcType=DECIMAL},
			</if>
			<if test="data != null and data !=''">
				DATA = #{data,jdbcType=LONGVARCHAR},
			</if>									
		</trim>
	</sql>
	<!-- 插入实体对应的字段语句 -->
	<sql id="insert_into_field">
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="orgId != null">
				ORG_ID,
			</if>
			<if test="customReportId != null">
				CUSTOM_REPORT_ID,
			</if>
			<if test="customReportName != null">
				CUSTOM_REPORT_NAME,
			</if>
			<if test="updateDate != null">
				UPDATE_DATE,
			</if>
			<if test="isDel != null">
				IS_DEL,
			</if>
			<if test="inputDate != null">
				INPUT_DATE,
			</if>
			<if test="inputAcc != null">
				INPUT_ACC,
			</if>
			<if test="isDouble != null">
				IS_DOUBLE,
			</if>
			<if test="data != null">
				DATA,
			</if>												
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="orgId != null">
				#{orgId,jdbcType=VARCHAR},
			</if>
			<if test="customReportId != null">
				#{customReportId,jdbcType=VARCHAR},
			</if>
			<if test="customReportName != null">
				#{customReportName,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				#{updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="isDel != null">
				#{isDel,jdbcType=DECIMAL},
			</if>
			<if test="inputDate != null">
				#{inputDate,jdbcType=TIMESTAMP},
			</if>
			<if test="inputAcc != null">
				#{inputAcc,jdbcType=VARCHAR},
			</if>
			<if test="isDouble != null">
				#{isDouble,jdbcType=DECIMAL},
			</if>
			<if test="data != null">
				#{data,jdbcType=LONGVARCHAR},
			</if>															
		</trim>
	</sql>
  
  	<!-- 表字段 -->
	<sql id="Base_Column_List">
		CUSTOM_REPORT_ID,ORG_ID,CUSTOM_REPORT_NAME,UPDATE_DATE,IS_DEL,INPUT_DATE,INPUT_ACC,is_double,DATA
	</sql>
  	
  	<!-- 查询所有实体信息，对应接口中的find方法 -->
	<select id="find" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="table_name" />
	</select>

	<select id="findListPage" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="table_name" />
		where 1=1
		<include refid="entity_condition_orderby" />
	</select>

	<!-- 根据条件查询所有实体信息，对应接口中的findByCondtion方法 -->
	<select id="findByCondtion" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="table_name" />
		where 1=1
		<include refid="entity_condition_orderby" />
	</select>
	
	<!-- 按编号获取实体信息，对应接口中的getByPrimaryKey方法 -->
	<select id="getByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="table_name" />
		where  org_id=#{orgId} and CUSTOM_REPORT_ID = #{customReportId}
	</select>
	
	<!-- 按条件查询获取实体信息，对应接口中的getByCondtion方法 -->
	<select id="getByCondtion" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="table_name" />
		where 1=1
		<include refid="entity_condition_orderby" />
	</select>
	
	<!-- 添加实体 -->
	<insert id="insert" parameterType="com.qftx.tsm.report.bean.CustomReportBean">
		insert into
		<include refid="table_name" />
		<include refid="insert_into_field" />
	</insert>
	
	<!-- 修改实体 -->
	<update id="update" parameterType="com.qftx.tsm.report.bean.CustomReportBean">
		update
		<include refid="table_name" />
		<include refid="trents_update_set_sql" />
		where org_id=#{orgId} and  CUSTOM_REPORT_ID = #{customReportId}
	</update>
	
	<!-- 动态修改实体 -->
	<update id="updateTrends" parameterType="com.qftx.tsm.report.bean.CustomReportBean">
		update
		<include refid="table_name" />
		<include refid="trents_update_set_sql" />
		where org_id=#{orgId} and  CUSTOM_REPORT_ID = #{customReportId}
	</update>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="string">
		delete
		<include refid="table_name" />
		where CUSTOM_REPORT_ID = #{customReportId} and org_id = #{orgId}
	</delete>
  	
  	<!-- 按条件查询获取实体信息，对应接口中的getByCondtion方法 -->
	<select id="findByIds" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="table_name" />
		where 
		org_id = #{orgId} and is_del = 0
		and custom_report_id in
		<foreach collection="ids" item="id" open="(" separator=","
			close=")">
			#{id}
		</foreach>
		
	</select>
	
  	<!-- 按条件查询获取实体信息，对应接口中的getByCondtion方法 -->
	<select id="findShareToMeCustomReportListPage" resultMap="BaseResultMap" parameterType="com.qftx.tsm.report.bean.CustomReportShareBean">
		select
			tcr.*
		from
			TSM_CUSTOM_REPORT tcr
		left join TSM_CUSTOM_REPORT_SHARE tcrs on tcrs.custom_report_id = tcr.custom_report_id and tcrs.org_id = #{orgId}
		where 
		tcr.org_id = #{orgId} 
		and tcr.is_del = 0
		and tcrs.is_del = 0
		and tcrs.share_acc = #{shareAcc}
		order by tcrs.input_date desc
	</select>
</mapper>