<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qftx.tsm.report.dao.LayoutCustOptionMapper">
    <resultMap type="com.qftx.tsm.report.bean.LayoutCustOptionBean" id="BaseResultMap">
		<result column="ID" property="id" jdbcType="VARCHAR" /> <!-- id -->
		<result column="ORG_ID" property="orgId" jdbcType="VARCHAR" /> <!-- 单位ID -->
		<result column="GROUP_ID" property="groupId" jdbcType="VARCHAR" /> <!-- 分组ID -->
		<result column="GROUP_NAME" property="groupName" jdbcType="VARCHAR" /> <!-- 分组名称 -->
		<result column="USER_ACCOUNT" property="userAccount" jdbcType="VARCHAR" /> <!-- 帐号 -->
		<result column="USER_NAME" property="userName" jdbcType="VARCHAR" /> <!-- 姓名 -->
		<result column="TYPE" property="type" jdbcType="DECIMAL" /> <!-- 类型： 1-销售进程，2-客户类型 -->
		<result column="OPTIONLIST_ID" property="optionlistId" jdbcType="VARCHAR" /> <!-- optionlist_id -->
		<result column="CUST_NUMS" property="custNums" jdbcType="DECIMAL" /> <!-- 客户数量 -->
		<result column="INPUTTIME" property="inputtime" jdbcType="TIMESTAMP" /> <!-- 录入时间 -->
    </resultMap>
  	<!-- 实体表名 -->
	<sql id="table_name">LAYOUT_CUST_OPTION</sql>

	<!-- 实体条件查询组装 -->
	<sql id="entity_condition_orderby">
		<if test="id != null and id !=''">
		    AND id = #{id,jdbcType=VARCHAR} 
		</if>
		<if test="orgId != null and orgId !=''">
		    AND org_id = #{orgId,jdbcType=VARCHAR} 
		</if>
		<if test="groupId != null and groupId !=''">
		    AND group_id = #{groupId,jdbcType=VARCHAR} 
		</if>
		<if test="userAccount != null and userAccount !=''">
		    AND user_account = #{userAccount,jdbcType=VARCHAR} 
		</if>
		<if test="userName != null and userName !=''">
		    AND user_name = #{userName,jdbcType=VARCHAR} 
		</if>
		<if test="type != null and type !=''">
		    AND type = #{type,jdbcType=DECIMAL} 
		</if>
		<if test="optionlistId != null and optionlistId !=''">
		    AND optionlist_id = #{optionlistId,jdbcType=VARCHAR} 
		</if>
		<if test="custNums != null and custNums !=''">
		    AND cust_nums = #{custNums,jdbcType=DECIMAL} 
		</if>
		<if test="inputtime != null and inputtime !=''">
		    AND inputtime = #{inputtime,jdbcType=TIMESTAMP} 
		</if>
	</sql>

	<!-- 修改实体对应set语句 -->
	<sql id="trents_update_set_sql">
		<trim prefix="set" suffixOverrides=",">
			<if test="id != null">
			    id = #{id,jdbcType=VARCHAR},
			</if>
<!-- 			<if test="orgId != null"> -->
<!-- 			    org_id = #{orgId,jdbcType=VARCHAR}, -->
<!-- 			</if> -->
			<if test="groupId != null">
			    group_id = #{groupId,jdbcType=VARCHAR},
			</if>
			<if test="userAccount != null">
			    user_account = #{userAccount,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
			    user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
			    type = #{type,jdbcType=DECIMAL},
			</if>
			<if test="optionlistId != null">
			    optionlist_id = #{optionlistId,jdbcType=VARCHAR},
			</if>
			<if test="custNums != null">
			    cust_nums = #{custNums,jdbcType=DECIMAL},
			</if>
			<if test="inputtime != null">
			    inputtime = #{inputtime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</sql>

	<!-- 插入实体对应的字段语句 -->
	<sql id="insert_into_field">
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null" >
			    id,
			</if>
			<if test="orgId != null" >
			    org_id,
			</if>
			<if test="groupId != null" >
			    group_id,
			</if>
			<if test="userAccount != null" >
			    user_account,
			</if>
			<if test="userName != null" >
			    user_name,
			</if>
			<if test="type != null" >
			    type,
			</if>
			<if test="optionlistId != null" >
			    optionlist_id,
			</if>
			<if test="custNums != null" >
			    cust_nums,
			</if>
			<if test="inputtime != null" >
			    inputtime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null">
			    #{id,jdbcType=VARCHAR},
			</if>
			<if test="orgId != null">
			    #{orgId,jdbcType=VARCHAR},
			</if>
			<if test="groupId != null">
			    #{groupId,jdbcType=VARCHAR},
			</if>
			<if test="userAccount != null">
			    #{userAccount,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
			    #{userName,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
			    #{type,jdbcType=DECIMAL},
			</if>
			<if test="optionlistId != null">
			    #{optionlistId,jdbcType=VARCHAR},
			</if>
			<if test="custNums != null">
			    #{custNums,jdbcType=DECIMAL},
			</if>
			<if test="inputtime != null">
			    #{inputtime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</sql>

	<!-- 批量插入实体对应的字段语句 -->
	<sql id="Base_Column_List">
		ID,ORG_ID,GROUP_ID,USER_ACCOUNT,USER_NAME,TYPE,OPTIONLIST_ID,CUST_NUMS,INPUTTIME 
	</sql>



	<!-- ################################################################################################## 
		#########################基础定义配置 通用脚本（无需修改，单resultType需要替换）############# ################################################################################################## -->

	<!-- 查询所有实体信息，对应接口中的find方法 -->
	<select id="find" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="table_name" />
	</select>

	<select id="findListPage" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="table_name" />
		where 1=1
		<include refid="entity_condition_orderby" />
	</select>

	<!-- 根据条件查询所有实体信息，对应接口中的findByCondtion方法 -->
	<select id="findByCondtion" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="table_name" />
		where 1=1
		<include refid="entity_condition_orderby" />
	</select>

	<!-- 按编号获取实体信息，对应接口中的getByPrimaryKey方法 -->
	<select id="getByPrimaryKey" parameterType="string" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="table_name" />
		where ID = #{id,jdbcType=VARCHAR}
	</select>

	<!-- 按条件查询获取实体信息，对应接口中的getByCondtion方法 -->
	<select id="getByCondtion" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="table_name" />
		where 1=1
		<include refid="entity_condition_orderby" />
	</select>

	<!-- 添加实体 -->
	<insert id="insert" parameterType="com.qftx.tsm.contract.bean.ContractFileBean">
		insert into
		<include refid="table_name" />
		<include refid="insert_into_field" />
	</insert>
	
	<sql id="batch_insert_into_value">
		( #{item.id,jdbcType=VARCHAR},#{item.orgId,jdbcType=VARCHAR},#{item.groupId,jdbcType=VARCHAR},#{item.userAccount,jdbcType=VARCHAR},#{item.userName,jdbcType=VARCHAR},
		#{item.type,jdbcType=DECIMAL},#{item.optionlistId,jdbcType=VARCHAR},#{item.custNums,jdbcType=DECIMAL},#{item.inputtime,jdbcType=TIMESTAMP})
	</sql>
	<!-- 批量添加实体 -->
	<insert id="insertBatch" parameterType="list">
		insert into <include refid="table_name"/> ( <include refid="Base_Column_List" /> ) values 
		<foreach collection="list" item="item" index="index" separator=",">
        	<include refid="batch_insert_into_value"/>
    	</foreach>
	</insert>
	
	<!-- 修改实体 -->
	<update id="update" parameterType="com.qftx.tsm.contract.bean.ContractFileBean">
		update
		<include refid="table_name" />
		<include refid="trents_update_set_sql" />
		where ORG_ID=#{orgId} AND ID = #{id,jdbcType=VARCHAR}
	</update>

	<!-- 动态修改实体 -->
	<update id="updateTrends" parameterType="com.qftx.tsm.contract.bean.ContractFileBean">
		update
		<include refid="table_name" />
		<include refid="trents_update_set_sql" />
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="string">
		delete from 
		<include refid="table_name" />
		where ORG_ID = #{id,jdbcType=VARCHAR} 
	</delete>
	
	<!-- 删除 -->
	<delete id="deleteByType" parameterType="map">
		delete from 
		<include refid="table_name" />
		where ORG_ID = #{orgId,jdbcType=VARCHAR} 
			AND TYPE = #{type,jdbcType=DECIMAL} 
	</delete>
	
	<select id="findLayoutSaleProcReportData" parameterType="string" resultMap="BaseResultMap">
		SELECT 
		  T.GROUP_ID,
		  AU.USER_ACCOUNT,
		  AU.USER_NAME,
		  W.LAST_OPTION_ID AS OPTIONLIST_ID,
		  W.CUST_NUMS 
		FROM
		  (SELECT 
		    T.OWNER_ACC,
		    T.LAST_OPTION_ID,
		    COUNT(*) CUST_NUMS 
		  FROM
		    TSM_RES_CUST_INFO T 
		  WHERE T.ORG_ID = #{orgId} 
		    AND T.TYPE = 2 
		    AND T.STATUS IN (2, 3) 
		    AND T.IS_DEL = 0 
		    AND T.LAST_OPTION_ID IS NOT NULL 
		  GROUP BY T.OWNER_ACC,
		    T.LAST_OPTION_ID) W 
		  LEFT JOIN 
		    (SELECT 
		      * 
		    FROM
		      AUTH_USER 
		    WHERE ORG_ID = #{orgId} 
		      AND ENABLED = 1) AU ON W.OWNER_ACC = AU.USER_ACCOUNT
		  LEFT JOIN 
		    (SELECT 
		      * 
		    FROM
		      TSM_TEAM_GROUP_MEMBER TTGM 
		    WHERE TTGM.ORG_ID = #{orgId}) T 
		    ON AU.USER_ACCOUNT = T.MEMBER_ACC 
		WHERE T.GROUP_ID IS NOT NULL 
	</select>
	
	<select id="findLayoutCustTypeReportData" parameterType="string" resultMap="BaseResultMap">
		SELECT 
		  T.GROUP_ID,
		  AU.USER_ACCOUNT,
		  AU.USER_NAME,
		  W.CUST_TYPE_ID AS OPTIONLIST_ID,
		  W.CUST_NUMS  
		FROM
		  (SELECT 
		    T.OWNER_ACC,
		    TCG.CUST_TYPE_ID,
		    COUNT(*) CUST_NUMS 
		  FROM
		    TSM_RES_CUST_INFO T 
		    LEFT JOIN TSM_CUST_GUIDE TCG 
		      ON TCG.ORG_ID = #{orgId} 
		      AND TCG.CUST_ID = T.RES_CUST_ID 
		  WHERE T.ORG_ID = #{orgId} 
		    AND T.TYPE = 2 
		    AND T.STATUS IN (2, 3, 6) 
		    AND T.IS_DEL = 0 
		    AND TCG.CUST_TYPE_ID IS NOT NULL 
		  GROUP BY TCG.CUST_TYPE_ID,
		    T.OWNER_ACC) W 
		  LEFT JOIN 
		    (SELECT 
		      * 
		    FROM
		      AUTH_USER 
		    WHERE ORG_ID = #{orgId} 
		      AND ENABLED = 1) AU 
		    ON W.OWNER_ACC = AU.USER_ACCOUNT 
		  LEFT JOIN 
		    (SELECT 
		      * 
		    FROM
		      TSM_TEAM_GROUP_MEMBER TTGM 
		    WHERE TTGM.ORG_ID = #{orgId}) T 
		      ON AU.USER_ACCOUNT = T.MEMBER_ACC 
		    WHERE T.GROUP_ID IS NOT NULL 
	</select>
	
	<select id="findCustOptionLayoutForGroup" parameterType="map" resultMap="BaseResultMap">
		SELECT
			Z.GROUP_ID,
			TG.GROUP_NAME,
			W.optionlist_id,
			W.cust_nums 
		FROM
			(
				SELECT
					group_id,
					optionlist_id,
					sum(cust_nums) cust_nums
				FROM
					layout_cust_option
				WHERE
					org_id = #{orgId} 
				AND type = ${type}
				AND group_id IN (
					SELECT GROUP_ID FROM TSM_GROUP_SHAREINFO TGS
						WHERE TGS.ORG_ID = #{orgId}  AND TGS.SHARE_ACC = #{adminAcc} 
					<if test="groupIds != null and groupIds.size() > 0">
						<foreach collection="groupIds" item="groupId" open="AND TGS.GROUP_ID IN (" separator="," close=")">
							#{groupId}
						</foreach>
					</if>
				)
				GROUP BY
					group_id,
					optionlist_id
			) W
		RIGHT JOIN (
			SELECT GROUP_ID FROM TSM_GROUP_SHAREINFO TGS
			 WHERE TGS.ORG_ID = #{orgId} AND TGS.SHARE_ACC = #{adminAcc} 
			 <if test="groupIds != null and groupIds.size() > 0">
				<foreach collection="groupIds" item="groupId" open="AND TGS.GROUP_ID IN (" separator="," close=")">
					#{groupId}
				</foreach>
			 </if>
		) Z ON W.GROUP_ID = Z.GROUP_ID 
		LEFT JOIN (SELECT * FROM TSM_TEAM_GROUP WHERE ORG_ID = #{orgId} AND IS_DEL='0') TG ON Z.GROUP_ID = TG.GROUP_ID
	</select>
	
	<select id="findCustOptionLayoutForPGroup" parameterType="map" resultMap="BaseResultMap">
		SELECT
			optionlist_id,
			ifnull(sum(cust_nums),0) cust_nums
		FROM
			layout_cust_option
		WHERE
			org_id = #{orgId} 
		AND type = ${type } 
		<if test="groupIds != null and groupIds.size() > 0">
			<foreach collection="groupIds" item="groupId" open="AND GROUP_ID IN (" separator="," close=")">
				#{groupId}
			</foreach>
		</if>
		group by optionlist_id
	</select>
	
	<select id="findCustSaleProcLayoutForMember" parameterType="map" resultMap="BaseResultMap">
		SELECT Z.USER_ACCOUNT,
			   Z.USER_NAME,
			   W.OPTIONLIST_ID,
			   W.CUST_NUMS 
		 FROM (SELECT
			T.USER_ACCOUNT,
			T.USER_NAME,
			T.OPTIONLIST_ID,
			T.CUST_NUMS
		FROM
			LAYOUT_CUST_OPTION T
		WHERE
			T.ORG_ID = #{orgId} 
		AND T.TYPE = ${type } 
		<if test="groupIds != null and groupIds.size() > 0">
			<foreach collection="groupIds" item="groupId" open="AND T.GROUP_ID IN (" separator="," close=")">
				#{groupId}
			</foreach>
		</if> ) W RIGHT JOIN (
			SELECT 
		      * 
		    FROM
		      AUTH_USER 
		    WHERE ORG_ID = #{orgId} 
		      AND ENABLED = 1 
		      AND USER_ACCOUNT IN (
		      	SELECT TTGM.MEMBER_ACC FROM TSM_TEAM_GROUP_MEMBER TTGM
				 WHERE TTGM.ORG_ID = #{orgId} 
				 <if test="groupIds != null and groupIds.size() > 0">
					<foreach collection="groupIds" item="groupId" open="AND TTGM.GROUP_ID IN (" separator="," close=")">
						#{groupId}
					</foreach>
				 </if>
		      )
		  ) Z ON W.USER_ACCOUNT = Z.USER_ACCOUNT ORDER BY Z.USER_ACCOUNT ASC 
	</select>
	
	<select id="findCustSaleProcLayoutChart" parameterType="map" resultMap="BaseResultMap">
		SELECT T.OPTIONLIST_ID,
			   SUM(T.CUST_NUMS) CUST_NUMS	
		 FROM 
		LAYOUT_CUST_OPTION T 
		WHERE 
		 T.ORG_ID = #{orgId} 
		AND T.TYPE = ${type } 
		<choose>
			<when test="account != null and account != ''">
				AND T.USER_ACCOUNT = #{account}
			</when>
			<otherwise>
				<choose>
					<when test="groupIds != null and groupIds.size() > 0">
						<foreach collection="groupIds" item="groupId" open="AND T.GROUP_ID IN (" separator="," close=")">
							#{groupId}
						</foreach>
					</when>
					<otherwise>
						AND T.GROUP_ID IN (
						SELECT TGS.GROUP_ID 
				          FROM TSM_GROUP_SHAREINFO TGS 
				         WHERE TGS.ORG_ID = #{orgId} AND TGS.SHARE_ACC = #{adminAcc } 
						)
					</otherwise>
				</choose>
			</otherwise>
		</choose>
		GROUP BY T.OPTIONLIST_ID 
	</select>
</mapper>