.withdrawals-box{
	width:550px;
	margin:20px auto;
	font-size:14px;
	overflow:hidden;
	padding:20px 0;
	background-color:#fff;
}
.reward-default-btn{/* 合并样式时和打赏页面的样式为同一 */
	padding:0 30px;
    line-height: 26px;
    border-radius: 8px;
    background-color: #fff;
    outline: none;
    font-size: 14px;
    border: 1px solid #808080;
    margin-right: 20px;
    cursor: pointer;
}
.withdrawals-box-right-inner-box-cols{
	line-height:40px;
	margin-bottom:12px;
	position:relative;
}
.withdrawals-box-right-inner-box-cols>label{
	display:inline-block;
 	width:150px;
 	text-align:right;
 }
 .withdrawals-box-right-inner-box-cols>.way-towithdrawals{
	text-align:left;
	vertical-align: middle;
 }
.withdrawals-box-right-inner-box-cols>.way-towithdrawals>img{
  	vertical-align: middle;
  }
.withdrawals-box-right-inner-box-cols>.way-towithdrawals>.wechatpay-img{
    margin-top: -5px;
    margin-left: 8px;
}
 .withdrawals-box-right-inner-box-cols>input[type="text"], .withdrawals-box-right-inner-box-cols>input[type="password"]{
 	width:300px;
 	height:30px;
 	border-radius:5px;
 	background-color:#f7f7f7;
 	border:1px solid #dedede;
 }
  .withdrawals-box-right-inner-box-cols>input[type="password"].old-transtion-pwd{
 	width:220px;
 }
 .withdrawals-box-right-inner-box-cols>input[type="text"].phone-message-click{
 	width:220px;
 }
 .withdrawals-box-right-inner-box-cols>input[type="button"]{
 	margin-left:10px;
 	width:70px;
 	height:30px;
 	line-height:30px;
 	border-radius:5px;
 	background-color: #e6e6e6;
 	border:1px solid #fff;
 	cursor:pointer;
 }
.withdrawals-way-label-box{
	margin-left:20px;
}
.withdrawals-way-radio{
	vertical-align: middle;
}
.settings-bottom-btn-box{
	margin-top:30px;
	text-align:center;
}
.reward-sure-btn{
	background-color:#469bff;
	border-color:#469bff;
	color:#fff;
}
.help-block{
	position:absolute;
	left:150px;
	bottom:0;
	height:12px;
	font-size:12px;
}
.withdrawals-box-right-inner-box-cols-reminder{
	margin-top:26px;
	line-height:26px;
}
.reminder{
	color:red;
    vertical-align: top;
}
.withdrawals-reminder{
	display:inline-block;
	width:400px;
}
.withdrawals-reward-title{
	padding-left:50px;
}
.error{
	color:red;
}
.change-mobil-secondpage,.forget-transtion-pwd{
	display:none;
}
.withdrawals-change-phonespacial{
	padding-left:65px;
}