@charset "utf-8";
*{padding:0;margin:0;}

.ui-stepBar-wrap{position:relative;width:100%;height:130px;overflow:hidden;display:none;z-index:3;}
.ui-stepBar-wrap .ui-stepBar{position:relative;width:90%;height:5px;background:#a5a5a5;top:50px;left:5%;}
.ui-stepBar-wrap .ui-stepBar .ui-stepProcess{position:relative;width:0;height:5px;background:#4a4a4a;top:0;left:0;z-index:1;}
.ui-stepBar-wrap .ui-stepInfo-wrap{width:90%;margin:0 auto;height:100%;}
.ui-stepBar-wrap .ui-stepInfo-wrap .ui-stepInfo{position:relative;float:left;padding-top:36px;text-align:center;}
.ui-stepBar-wrap .ui-stepInfo-wrap .ui-stepInfo .ui-stepSequence,.ui-stepBar-wrap .ui-stepInfo-wrap .ui-stepInfo .ui-stepSequence01{position:relative;padding:4px 8px;z-index:103;}
.ui-stepBar-wrap .ui-stepInfo-wrap .ui-stepInfo .ui-stepName{position:relative;line-height:50px;z-index:103;font-size:14px;}
.ui-stepBar-wrap .ui-stepInfo-wrap .ui-stepInfo .judge-stepSequence-pre-change,
.ui-stepBar-wrap .ui-stepInfo-wrap .ui-stepInfo .judge-stepSequence-hind-change{cursor:default;}
.judge-stepSequence-pre{cursor:pointer;}
.judge-stepSequence-pre{background:#6b6b6b;color:#ffffff;}
.judge-stepSequence-hind{background:#a5a5a5;color:#ffffff;}

.author{position:absolute;bottom:0;width:100%;text-align:center;margin:40px auto;color:#1569ec;text-shadow:1px 1px 0 #e7e7e7, 0 1px 7px #fff;}