.cust-impo-reso{width:100%;height:100%;position:relative;padding-top:130px;}
.year-sale-play{position:relative;}
.new-report{display:block;position:absolute;right:10px;top:5px;;width:100px;height:25px;text-align:center;color:#fff;background-color:#0097fe;border:1px solid #0097fe;cursor:pointer;}
.cust-report-picbox{width:100%;box-sizing:border-box;height:auto;padding:10px;}
.cust-report-picbox-item{float:left;width:auto;height:auto;padding-bottom:30px;box-sizing:border-box;position:relative;padding-top:30px;}
.pic-box{width:100%;height:100%;}
.picbox-bottom-option{display:none;position:absolute;left:0;bottom:0;width:100%;height:30px;line-height:30px;}
.picbox-top-title{position:absolute;left:0;top:0;width:100%;height:30px;line-height: 30px;text-align:center;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.picbox-bottom-option>span{cursor:pointer;margin-right:5px;}
.cust-report-picbox-item:hover{background-color:#f7f7f7;}
.cust-report-picbox-item:hover .picbox-bottom-option{display:block;background-color:#fff;}

/* 新建报表弹窗 */
.stepBar-box{width:92%;margin:0 auto;position:absolute;top:0;left:4%;}
.ui-stepBar-wrap{padding-right:20px;}
.new-custreport-step{width:100%;margin:0 auto;position:relative;padding-bottom:50px;height:100%;box-sizing:border-box;}
.step-top-operation-box,.step-middle-remind-box{width:90%;margin:0 auto;line-height:40px;}
.step-top-operation-box{padding:10px;background-color:#f2f2f2;box-sizing:border-box;min-width: 620px;}
.step-top-operation-box-item{height:42px;width:90%;margin:0 auto;position:relative;box-sizing: border-box;padding: 7px 0;line-height: 26px;}
.step-top-operation-box-item>span.and{line-height: 26px;vertical-align: text-bottom;}
.step-top-operation-box-item:nth-child(2)>span.and{visibility: hidden;}
.step-top-operation-box-item>span.reminder{position:absolute;bottom: -12px;left: 40px;color:red;font-size:12px;}
.step-top-operation-box-example{width:90%;margin:10px auto;}
.step-top-operation-box-example>img{display:block;margin:0 auto;}
.step-top-operation-box-item>select{width: 150px;box-sizing: border-box;padding: 3px 5px;border-radius: 5px;height: 26px;margin-left: 10px;vertical-align: text-bottom;}
.step-top-operation-box-item>.step-choose-box>select{width: 150px;box-sizing: border-box;padding: 3px 5px;border-radius: 5px;height: 26px;margin-left: 10px;vertical-align: text-bottom;}
.step-choose-box{display:inline-block;position:relative;z-index:0;}
body .step-choose-box{width:auto;height: 26px;min-height: 0;margin: 0;/* vertical-align: middle; */}
.com-search .select{line-height:26px;margin-bottom: 0px;margin-left: 10px;}
.com-search .select dt:hover{border:1px solid #a9a9a9!important;}
.com-search .select dt,.com-search .select dt.cur{border:1px solid #a9a9a9!important;margin-top: 0;height: 100%;line-height: 20px;width:150px;border-radius: 5px; padding: 3px;box-sizing: border-box;text-align: center;background-position: 130px center;}
.com-search .select dd ul{width:130px;}
.step-top-operation-box-item>.step-choose-box>input{width: 150px; height: 26px;border: 1px solid #A9A9A9;border-radius: 5px; padding: 3px;box-sizing: border-box;margin-left: 10px;vertical-align: text-bottom;}
.step-top-operation-box-item input[type='radio']{vertical-align: middle;margin-right:3px;}
.step-top-operation-box-item>.items-radio-box{margin-right:10px;cursor:pointer;}
.step-top-operation-box-item-title{float:left;}
.step-bottom-btn-box{width:100%;height:50px;position:fixed;background-color:#f2f2f2;left:0;bottom:0;text-align:center;line-height:50px;}
.step-bottom-btn-box>button{display:inline-block;height:30px;background-color:#fff;line-height:30px;border:1px solid #dedede;width:80px;cursor:pointer;border-radius:5px;}
.step-bottom-btn-box>button.btn-finished{background-color:#0097fe;color:#fff;}
.step-finish-input-box{width:90%;margin:0 auto 40px;background-color:#f2f2f2;height:200px;line-height:200px;text-align:center;}
.finish-named-input{height: 24px;line-height: 24px;width: 200px;padding: 3px 5px;box-sizing: border-box;border-radius: 3px;border: 1px solid #a9a9a9;}

.add-more-condition{float:right;}
.delete-icons{position: absolute;right: 5px;top: 12px;font-size: 16px;color:#757272;cursor:pointer;}
.manage-drops{display: none;position: absolute;top: 34px;left: 10px;background-color: #fff;z-index: 10;border: 1px solid #e1e1e1;}
.manage-drops .tree-node{width:171px;overflow:hidden;}
.tt1.tree{min-height:120px;max-height:150px;overflow-x: hidden; overflow-y: auto;}
.table-padding-box{padding:0 10px;}
.date-picker-wrapper.no-shortcuts{left:142px!important;}

.custReport-detail-head{width:80%;margin:10px auto;}
.custReport-detail-head-item{height:35px;line-height:35px;width:100%;padding-left:100px;box-sizing:border-box;position:relative;}
.custReport-detail-head-item-title.custReport-detail-head-item{padding-left:0;text-align:center;font-size:18px;}
.custReport-detail-head-item-sharebox{white-space: nowrap;overflow-x: hidden;text-overflow: ellipsis;}
.custReport-detail-head-item>label{display:block;width:100px;height:100%;position:absolute;left:0;top:0;text-align:right;}
.hover-see-detail-box{position:absolute;width:200px;height:300px;left:100px;top:24px;z-index: 100;display:none;color:#000;border:1px solid #e1e1e1;background-color:#fff;padding:5px;overflow-y: auto;}
.hover-see-detail-box-item{line-height:24px;width:100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.hover-see-detail-box-item>span{margin-right:5px;}
.hover-see-detail-box-item>span:last-of-type{margin-right:0;}

