@charset "utf-8";
*,html{margin:0;padding:0;list-style-type:none;}
html{overflow:visible;}
a,img{border:0;}
body{font-size:12px;font-family: 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Arial, san-serif;line-height:21px;width:100%;height:100%;overflow:hidden;}


/* navwrap */
.navwrap{position:absolute;top:0;min-width:1240px;height:38px;line-height:38px;padding-right:18px;font-size:14px;background:#fff;width:98%;margin:0 auto;}
#nav{float:left;height:38px;line-height:38px;padding-left:13px;}
#nav, #nav ul{margin:0;padding:0;position:relative;line-height:38px;z-index:5;}
#nav a{height:40px;display:block;padding:0 16px;text-decoration:none;text-align:center;line-height:40px; outline:none;z-index:35;position:relative;float:left;}
#nav ul a{line-height:38px; }
#nav li{float:left;position:relative;z-index:20;line-height:38px; border:1px solid #fff;border-top:none; }
#nav li li{border-left:none;margin-top:0;}
#nav ul{position:absolute;display:none;width:175px;top:41px;padding-bottom:4px;left:-1px;background:#f5f5f5;-moz-border-bottom-left-radius:4px;-moz-border-bottom-right-radius:4px;-moz-border-top-left-radius:0px;-moz-border-top-right-radius:0px; -webkit-border-bottom-left-radius:4px;-webkit-border-bottom-right-radius:4px;-webkit-border-top-left-radius:0px;-webkit-border-top-right-radius:0px; border-top-left-radius:0px;border-top-right-radius:0px;border-bottom-left-radius:4px;border-bottom-right-radius:4px;-moz-box-shadow:0 4px 8px rgba(0,0,0,0.15); -webkit-box-shadow:0 4px 8px rgba(0,0,0,0.15); box-shadow:0 4px 8px rgba(0,0,0,0.15);}
#nav li ul a{width:118px;height:30px;line-height:30px;float:left;text-align:left;padding:0 21px;box-sizing: content-box;}/* 总宽度160 左右内边距21px  宽度118px  别再改了。 */
#nav ul ul{top:auto;border-top:none;}
#nav li ul ul{left:172px;top:0px;}

#nav a{color:#888;}
#nav ul{border:1px solid #DFDFDF;}
#nav li ul a{border-bottom:1px solid #f0f0f0;}
#nav ul li{background-color:#f5f5f5;border:1px solid #f5f5f5;border-bottom:none;}

#nav .current_page_item a{color:#555;}
#nav .current_page_parent .current_page_item a, #nav .current_page_item ul a{border-right:1px solid #f5f5f5;border-left:none;background-image:none;color:#444;}

#nav a:hover{color:#fff;background-color:#469bff;}
#nav li:hover{background-color:#469bff;}
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{display:none;}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{display:block;}

.panel-body{overflow:hidden;}