.new-daily-plan-box{
	height:100%;
	box-sizing:border-box;
	padding-top:50px;
	width:100%;
	overflow-x:auto;
}
.new-daily-plan-box-head{
	height:50px;
	line-height:50px;
	box-sizing:border-box;
	position:absolute;
	top:0;
	width:100%;
	padding-left:300px;
	padding-right:300px;
	text-align:center;
	z-index:20;
	background-color:#fff;
}
.new-daily-plan-box-body{
	width:100%;
	position:relative;
	height:100%;
	min-height:590px;
}
.new-daily-box-head-select-detail{
	margin-right:5px;
	padding:3px 5px;
	box-sizing:border-box;
	border-color:#e1e1e1;
}
.new-daily-plan-box-head-title{
	font-size:14px;
}
.new-daily-plan-box-head-left-select{
	width:300px;
	height:100%;
	position:absolute;
	left:0;
}
.new-daily-plan-box-head-right-items{
	width:300px;
	height:100%;
	position:absolute;
	right:0;
}
b.start-date,b.end-date{
	font-weight:normal;
}
.new-daily-color-show{
	display:inline-block;
	width:20px;
	height:8px;
	border-radius:5px;
}
.new-daily-color-green.new-daily-color-show{
	background-color:#b5d26b;
}
.new-daily-color-red.new-daily-color-show{
	background-color:#d26b6b;
}
.new-daily-color-gray.new-daily-color-show{
	background-color:#bfbfbf;
}
.new-daily-font-behind{
	margin-right:5px;
}

.new-daily-plan-box-body-row{
	border-top:1px solid #dedede;
	height:70px;
	padding-left:100px;
	white-space:nowrap;
	min-width:100%;
	box-sizing:border-box;
}
.new-daily-plan-box-body-row:last-child{
	border-bottom:1px solid #e2e2e2;
}
.new-daily-plan-box-body-row-left{
	width:100px;
	height:70px;
	position:absolute;
	left:0;
	text-align:center;
	z-index:10;
	background-color:#fff;
	border-bottom:1px solid #e2e2e2;
	box-sizing:border-box;
}
.new-daily-plan-box-body-row-left>span{
	display:block
}
.new-daily-plan-box-body-row-left-week{
	font-size:16px;
	line-height:50px;
	height:34px;
}
.new-daily-plan-box-body-row-left-date{
	line-height:30px;
}
.new-daily-plan-box-body-row-left.today{
	background-color:#f2f2f2;
}

.new-daily-plan-box-body-row-right-items{
	width:200px;
	height:100%;
	display:inline-block;
	text-align:center;
}
.new-daily-plan-box-body-row-right-items-title{
	display:block;
	height:36px;
	line-height:44px;
	font-size:14px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.new-daily-plan-box-body-row-right-items-number{
	display:block;
	font-size:18px;
	line-height:30px;
}
.new-daily-plan-box-body-row-right-items-title-today{
	font-size:14px;
	line-height:30px;
	height:24px;
	text-align:left;
	padding-left:20px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	cursor:pointer;
}
.new-daily-plan-box-body-row-right-items-process{
	width:100%;
	box-sizing:border-box;
	padding-right:40px;
	position:relative;
	height:24px;
	line-height:24px;
}
.new-daily-plan-box-body-row-right-items-process-number{
	width:40px;
	height:100%;
	position:absolute;
	right:24px;;
}
.new-daily-plan-box-body-row-right-items-process-box{
	width:56%;
	height:8px;
	position:absolute;
	left:20px;
	border:1px solid #ccc;
	top:50%;
	margin-top:-5px;
	border-radius:5px;
}
.new-daily-plan-box-body-row-right-items-process-true{
	height:100%;
	position:absolute;
	left:0;
	top:0;
	border-radius:5px;
	background-color:#bf1031;
}
.new-daily-plan-box-body-row-right-items-prodetail{
	line-height:20px;
	height:20px;
	text-align:left;
	padding-left:20px;
}
.new-daily-plan-box-body-row-right-items-prodetail>span>.new-daily-color-show{
	width:8px;
}
.new-daily-plan-box-body-row-right-nodata-before,.new-daily-plan-box-body-row-right-nodata-later{
	width:100%;
	height:100%;
	line-height:70px;
}
.new-daily-plan-box-body-row-right-nodata-before{
	font-size:16px;
}
.new-daily-plan-box-body-row-right-nodata-later{
	padding-top:22px;
}
.new-daily-plan-start-planbtn{
	display:inline-block;
	width:120px;;
	height:26px;
	font-size:12px;
	border-radius:7px;
	background-color:#fff;
	border:1px solid #dedede;
	cursor:pointer;
}
.select dt{
	width:90px;
	background: #fff url(../images/drop-down-arrow.png) no-repeat 96px center;
	height:23px;
}
.tree li .tree-node{
	text-align:left;
	width:130px;
	overflow-x:hidden;
	overflow-y:hidden;
}
.select>dd>ul{
	width:150px;
	min-height:150px;
}
.click-into-detail-span{
	cursor:pointer;
}
/* 详情页面 */
.hyx-dayplan-left-bottom-items{
	cursor:pointer;
    line-height: 30px;
    font-size: 14px;
    padding-left: 40px;
	padding-right: 5px;
    display:block;
    color:#000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}
.hyx-dayplan-left-bottom-items.resource-cust{background:url(../images/resource-cust-icon.png) no-repeat 20px center;}
.hyx-dayplan-left-bottom-items.will-cust{background:url(../images/will-cust-icon.png) no-repeat 20px center;}
.hyx-dayplan-left-bottom-items.sign-cust{background:url(../images/sign-cust-icon.png) no-repeat 20px center;}
.hyx-dayplan-left-bottom-items.resource-cust.current{background:url(../images/resource-cust-icon-active.png) no-repeat 20px center;}
.hyx-dayplan-left-bottom-items.will-cust.current{background:url(../images/will-cust-icon-active.png) no-repeat 20px center;}
.hyx-dayplan-left-bottom-items.sign-cust.current{background:url(../images/sign-cust-icon-active.png) no-repeat 20px center;}
.hyx-dayplan-left .hyx-dayplan-left-bottom-items.current{
    background-color: #469bff;
    color: #fff;
}
.new-detail-com-search{
	min-height:40px;
	height:40px;
	margin-top:20px;
	margin-bottom:10px;
}
/* 跟进右侧 */
.hyx-cfu-tab{
    position: absolute;
    top: 0;
}
.hyx-cfu-card{
	float:none;
    height: 100%;
    overflow-y: auto;
    overflow-x:hidden;
    box-sizing: border-box;
}
.cust_information,
.hyx-cfu-timeline{
	height:100%;
	position:relative;
	box-sizing:border-box;
	padding-bottom:30px;
}
.cust_information{
	overflow-x:hidden;
	overflow-y:auto;
}
.hyx-cfu-timeline{
	margin-bottom:0;
	background-color:#fff;
 	overflow-y: auto;
 	position:relative;
}
.new-daily-plan-rightbottom-editbtn{
	border:1px solid #dedede;
	box-sizing:border-box;
	color:#4a4a4a;
	width:100%;
	height:30px;
	line-height:30px;
	text-align:center;
	position:absolute;
	bottom:0;
	left:0;
	cursor:pointer;
  	 background-color: #fff;
}
.new-daily-plan-rightbottom-editbtn-follow{
	display:none;
}
.hyx-dayplan-right .tab-list{
	width:170px;
}
.new-daily-plan-right-item{
    box-sizing: border-box;
    padding-left: 100px;
    position: relative;
    height: 30px;
    line-height: 30px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.new-daily-plan-right-item-left{
	width:100px;
	position:absolute;
	height:30px;
	top:0;
	left:0;
	text-align:right;
}
.com-table table tbody tr,.com-table-a table tbody tr{cursor:pointer;}
.com-table table tbody tr.disabled,.com-table-a table tbody tr.disabled{color:#ccc;cursor:default;}

/* 弹窗位置固定 */
#dayPlan_add_follow_.i-dialog,[id^='edit_'].i-dialog{right:0!important;top:0!important;left: initial!important;}
#dayPlan_add_follow_>.i-target{display:none!important;}
[id^='edit_']>.i-target{display:none!important;}