.boder{
  border: 1px solid #f2f2f2;
}
.height100{
  height: 100%;
}
body.personal-bigbox{
	background-color:#f2f2f2;
}

.personal-center-icon{
	color:#0693fc;
	font-size:16px;
	width:16px;
}
.personal-center-icon-edit{
	font-size:16px;
	vertical-align:middle;
	position:absolute;
	top:7px;
	right:30px;
	cursor:pointer;
}

.personal-center-box{
  width: 100%;
  padding-top:30px;
  position:relative;
  background-color:#fff;
  height:100%;
  box-sizing:border-box;
}
.personal-center-box-left{
  width: 300px;
  height:100%;
  box-sizing:border-box;
  margin-right: 10px;
  background-color:#fff;
}
.personal-center-box-left-imgbox{
  height: 220px;
  padding-top:20px;
  width:300px;
}
.personal-center-box-left-img{
	width:100px;
	height:100px;
	border-radius:50%;
	margin:0 auto;
	display:block;
	cursor:pointer;
}
.personal-center-box-left-username{
	text-align:center;
}
.personal-center-box-left-email,.personal-center-box-left-mobile{
	padding-left:80px;
}
.personal-center-box-left-username{
	margin-top:10px;
}
.personal-center-box-left-mobile{
	margin-top:30px;
}
.personal-center-box-left-email{
	margin-top:10px;
}
.personal-center-change-number,
.personal-center-change-email{
	color:#0693fc;
	margin-left:5px;
}
.personal-center-box-left-items{
  height: 65px;
  line-height: 65px;
  text-align: center;
  cursor: pointer;
}
.personal-center-box-left-items.active{
  background-color: #f2f2f2;
}
.personal-center-information-head{
  width:100%;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  color: #333;
  position:absolute;
  top:0;
  left:0;
  box-sizing:border-box;
  border-bottom: 2px solid #f2f2f2;
}

/*  个人信息页面  */
.personal-center-right-head-box{
  padding-top: 50px;
  height: 100%;
  box-sizing:border-box;
}
.personal-information-box{
  padding-left: 40%;
  line-height: 60px;
  height: 60px;
  position: relative;
  text-align: left;
  font-size: 14px;
  white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
    padding-right: 20%;
}
.personal-information-box-items{
  width: 40%;
  position: absolute;
  left: 0;
  top: 0;
  text-align: right;
  font-size: 16px;
}
/* app下载页面 */
.personal-center-appdownload-items{
  width: 50%;
  text-align: center;
}
.personal-center-appdownload-items>h3{
	margin:30px auto 10px;
}
.personal-center-appdownload-items .hyx-download-code-img{
	display:block;
	width:200px;
	height:auto;
	margin:50px auto;
}
/* 销售成长页面 */
.hyx-personal-center-sale-grow{
	
}
.hyx-personal-center-sale-grow-head{
	height:180px;
}
.hyx-personal-center-sale-grow-head-left{
	width:50%;
	position:relative;
	padding-top:50px;]
}
/* 编辑弹窗页面 */
.personal-edit-rows{
	height:30px;
	line-height:30px;
	padding-left:120px;
	position:relative;
	margin-top:12px;
	font-size:12px;
}
.personal-edit-rows-spans{
	display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}
.personal-edit-rows-labels{
	position:absolute;
	height:100%;
	width:110px;
	left:0;
	top:0;
	text-align:right;
}
.personal-edit-rows-inputs{
	width:260px;
	height:30px;
	line-height:30px;
	border:1px solid #d6d6d6;
}
.personal-edit-rows-select{
	width:260px;
	height:30px;
	border:1px solid #e6e6e6;
}
.personal-edit-rows-textarea{
	width:260px;
	height:60px;
	line-height:24px;
	border:1px solid #e6e6e6;
}
.personal-center-imgedit-item{
	width:80%;
	overflow:hidden;
	margin:0 auto;
}
.personal-center-img-headbtn{
	padding:10px;
}
.use-local-img{
	width:100px;
	height:24px;
	line-height:24px;
	text-align:center;
	position:relative;
	display:block;
	background-color:#fff;
	border:1px solid #e1e1e1;
	border-radius:5px;
	margin-bottom:10px;
	cursor:pointer;
}
.use-local-img>.file{
    opacity: 0;
    filter: alpha(opacity=0);
    position:absolute;
    width:100px;
    height:30px;
    left:0;
    top:0;
    cursor:pointer;
}
.personal-imgedit-bottomBtn{
	padding-bottom:15px;
}
.edit-img{
	width:100%;
	height:auto;
	display:block;
	margin:0 auto;
}