.hyxCustCard_head_title{height: 30px;line-height: 30px;width: 94%;margin: 0 auto;margin-bottom: -35px;margin-top: 20px;font-size: 14px;}
#hyxCustCard_head {position: relative;height: 25%;color: #197acb;}
.custCard_head_content {position: absolute;width: 90%;	top: 50%;	left: 5%;}
.custCard_mark_icon {	width: 22px;	position: absolute;	top: -23px;	left: -11px;	z-index: 20;	display: none;}
.dialog-box {	position: absolute;	top: -14px;	left: 0;	z-index: 50;}
.down-arrow {	content: "";	width: 0;	border-top: 10px solid #197acb;	border-left: 12px solid transparent;	border-right: 6px solid transparent;}
.dialog-box-content {	border-radius: 5px;	background-color: #197acb;	color: #fff;	position: absolute;    left: -34px;    top: -28px;    width: 140px;    font-size: 14px;    text-align: center;padding: 6px 4px;}
.custCard_progress_solid {	position: absolute;	height: 1px;width:100%;	content: " ";	border-bottom: 2px solid #197acb;top:50%;}
.custCard_progress_state {	width: 120px;	text-align: center;margin-left:-60px;}
.progress-icon-state-big {	width: 28px;	height: 28px;	margin: 0 auto;}
.font-icon-state-big {}
.progress_state {position: absolute;	left: 0%;	top: -13px;}
.progress_state_start,.progress_state_end{position: absolute;top:50%;background-color: #197acb;border-radius: 50%;color: #fff;;text-align:center;z-index:9;}
.progress_state_start{height: 50px;  width: 50px;left:4%;margin-top:-25px;line-height: 50px}
.progress_state_end{height: 100px; width: 100px;right:0;margin-top:-50px;line-height: 100px;font-size:16px;}
.custCard_pointto_icon{width:20px;height:24px;position:absolute;top:-10px;}
