<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qftx.tsm.sys.dao.SysDataHelpMapper">
	<resultMap id="BaseResultMap" type="com.qftx.tsm.sys.bean.SysDataHelpBean">
		<id column="ID" property="id" jdbcType="VARCHAR" /> <!-- id -->
		<result column="DATA_MODULE" property="dataModule" jdbcType="VARCHAR" /> 
		<result column="URL" property="url" jdbcType="VARCHAR" /> 		
	</resultMap>
	<!-- 实体表名 -->
	<sql id="table_name">sys_data_help</sql>

	<!-- 实体条件查询组装 -->
	<sql id="entity_condition_orderby">
		<if test="id != null and id != ''">
		    AND id = #{id,jdbcType=VARCHAR} 
		</if>
		<if test="dataModule != null and dataModule !=''">
		    AND DATA_MODULE = #{dataModule,jdbcType=VARCHAR} 
		</if>
		<if test="url != null and url !=''">
		    AND URL = #{url,jdbcType=VARCHAR} 
		</if>
	</sql>

	<!-- 修改实体对应set语句 -->
	<sql id="trents_update_set_sql">
		<trim prefix="set" suffixOverrides=",">
			<if test="id != null">
			   id = #{id,jdbcType=VARCHAR},
			</if>
			<if test="dataModule != null">
			    DATA_MODULE = #{dataModule,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
			    URL = #{url,jdbcType=VARCHAR},
			</if>
		</trim>
	</sql>

	<!-- 插入实体对应的字段语句 -->
	<sql id="insert_into_field">
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
			    id,
			</if>
			<if test="dataModule != null" >
			    DATA_MODULE,
			</if>
			<if test="url != null" >
			    URL,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null">
			    #{id,jdbcType=VARCHAR},
			</if>
			<if test="dataModule != null">
			    #{dataModule,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
			    #{url,jdbcType=VARCHAR},
			</if>
		</trim>
	</sql>

	<!-- 批量插入实体对应的字段语句 -->
	<sql id="Base_Column_List">
	  ID,DATA_MODULE,URL
	</sql>



	<!-- ################################################################################################## 
		#########################基础定义配置 通用脚本（无需修改，单resultType需要替换）############# ################################################################################################## -->

	<!-- 查询所有实体信息，对应接口中的find方法 -->
	<select id="find" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="table_name" />
	</select>

	<select id="findListPage" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="table_name" />
		where 1=1
		<include refid="entity_condition_orderby" />
	</select>

	<!-- 根据条件查询所有实体信息，对应接口中的findByCondtion方法 -->
	<select id="findByCondtion" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="table_name" />
		where 1=1
		<include refid="entity_condition_orderby" />
	</select>

	<!-- 按条件查询获取实体信息，对应接口中的getByCondtion方法 -->
	<select id="getByCondtion" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="table_name" />
		where 1=1
		<include refid="entity_condition_orderby" />
	</select>

	<!-- 添加实体 -->
	<insert id="insert" parameterType="com.qftx.tsm.sys.bean.SysDataHelpBean">
		insert into
		<include refid="table_name" />
		<include refid="insert_into_field" />
	</insert>

	<!-- 修改实体 -->
	<update id="update" parameterType="com.qftx.tsm.sys.bean.SysDataHelpBean">
		update
		<include refid="table_name" />
		<include refid="trents_update_set_sql" />
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<!-- 动态修改实体 -->
	<update id="updateTrends" parameterType="com.qftx.tsm.sys.bean.SysDataHelpBean">
		update
		<include refid="table_name" />
		<include refid="trents_update_set_sql" />
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="string">
		delete
		<include refid="table_name" />
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	
	<select id="getList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="table_name" />
	</select>

</mapper>