<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qftx.tsm.sys.dao.SysFileMapper">
	<resultMap id="BaseResultMap" type="com.qftx.tsm.sys.bean.SysFileBean">
		<id column="ID" property="id" jdbcType="VARCHAR" /> <!-- id -->
		<result column="ORG_ID" property="orgId" jdbcType="VARCHAR" /> <!-- 机构ID -->
		<result column="USER_ID" property="userId" jdbcType="VARCHAR" /> <!-- 用户ID -->
		<result column="CODE" property="code" jdbcType="VARCHAR" /> <!-- 附件唯一码 -->
		<result column="TYPE" property="type" jdbcType="VARCHAR" /> <!-- 附件类型(1邮件，2合同，3客户) -->
		<result column="FILE_TYPE" property="fileType" jdbcType="VARCHAR" /> <!-- 文件类型 -->
		<result column="FILE_NAME" property="fileName" jdbcType="VARCHAR" /> <!-- 文件名称 -->
		<result column="FILE_SIZE" property="fileSize" jdbcType="DECIMAL" /> <!-- 文件大小(KB) -->
		<result column="FILE_PATH" property="filePath" jdbcType="VARCHAR" /> <!-- 文件路径 -->
		<result column="FILE_URL" property="fileUrl" jdbcType="VARCHAR" /> <!-- 文件路径 -->
		<result column="UPDATETIME" property="updatetime" jdbcType="TIMESTAMP" /> <!-- 修改时间 -->
		<result column="INPUTTIME" property="inputtime" jdbcType="TIMESTAMP" /> <!-- 录入时间 -->
		<result column="IS_DEL" property="isDel" jdbcType="DECIMAL" /> <!-- 册除状态1-删除，0-未删除 -->
		<result column="oss" property="oss" jdbcType="DECIMAL" /> <!-- 上传方式是否是oss, 0：否，1：是(5.1新增)-->
	</resultMap>
	<!-- 实体表名 -->
	<sql id="table_name">SYS_FILE</sql>

	<!-- 实体条件查询组装 -->
	<sql id="entity_condition_orderby">
		<if test="id != null and id != ''">
		    AND id = #{id,jdbcType=VARCHAR} 
		</if>
		<if test="orgId != null and orgId !=''">
		    AND org_id = #{orgId,jdbcType=VARCHAR} 
		</if>
		<if test="userId != null and userId !=''">
		    AND user_id = #{userId,jdbcType=VARCHAR} 
		</if>
		<if test="code != null and code !=''">
		    AND code = #{code,jdbcType=VARCHAR} 
		</if>
		<if test="type != null and type !=''">
		    AND type = #{type,jdbcType=VARCHAR} 
		</if>
		<if test="fileType != null and fileType !=''">
		    AND file_type = #{fileType,jdbcType=VARCHAR} 
		</if>
		<if test="fileName != null and fileName !=''">
		    AND file_name = #{fileName,jdbcType=VARCHAR} 
		</if>
		<if test="fileSize != null and fileSize !=''">
		    AND file_size = #{fileSize,jdbcType=DECIMAL} 
		</if>
		<if test="filePath != null and filePath !=''">
		    AND file_path = #{filePath,jdbcType=VARCHAR} 
		</if>
		<if test="fileUrl != null and fileUrl !=''">
		    AND file_url = #{fileUrl,jdbcType=VARCHAR} 
		</if>
		<if test="updatetime != null and updatetime !=''">
		    AND updatetime = #{updatetime,jdbcType=TIMESTAMP} 
		</if>
		<if test="inputtime != null and inputtime !=''">
		    AND inputtime = #{inputtime,jdbcType=TIMESTAMP} 
		</if>
		<if test="isDel != null and isDel !=''">
		    AND is_del = #{isDel,jdbcType=DECIMAL} 
		</if>
		<if test="oss != null and oss !=''">
		    AND oss = #{oss,jdbcType=DECIMAL} 
		</if>
	</sql>

	<!-- 修改实体对应set语句 -->
	<sql id="trents_update_set_sql">
		<trim prefix="set" suffixOverrides=",">
			<if test="id != null">
			   id = #{id,jdbcType=VARCHAR},
			</if>
<!-- 			<if test="orgId != null"> -->
<!-- 			    org_id = #{orgId,jdbcType=VARCHAR}, -->
<!-- 			</if> -->
			<if test="userId != null">
			    user_id = #{userId,jdbcType=VARCHAR},
			</if>
			<if test="code != null">
			    code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
			    type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="fileType != null">
			    file_type = #{fileType,jdbcType=VARCHAR},
			</if>
			<if test="fileName != null">
			    file_name = #{fileName,jdbcType=VARCHAR},
			</if>
			<if test="fileSize != null">
			    file_size = #{fileSize,jdbcType=DECIMAL},
			</if>
			<if test="filePath != null">
			    file_path = #{filePath,jdbcType=VARCHAR},
			</if>
			<if test="fileUrl != null">
			    file_url = #{fileUrl,jdbcType=VARCHAR},
			</if>
			<if test="updatetime != null">
			    updatetime = #{updatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="inputtime != null">
			    inputtime = #{inputtime,jdbcType=TIMESTAMP},
			</if>
			<if test="isDel != null">
			    is_del = #{isDel,jdbcType=DECIMAL},
			</if>
			<if test="oss != null">
			    oss = #{oss,jdbcType=DECIMAL},
			</if>
		</trim>
	</sql>

	<!-- 插入实体对应的字段语句 -->
	<sql id="insert_into_field">
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
			    id,
			</if>
			<if test="orgId != null" >
			    org_id,
			</if>
			<if test="userId != null" >
			    user_id,
			</if>
			<if test="code != null" >
			    code,
			</if>
			<if test="type != null" >
			    type,
			</if>
			<if test="fileType != null" >
			    file_type,
			</if>
			<if test="fileName != null" >
			    file_name,
			</if>
			<if test="fileSize != null" >
			    file_size,
			</if>
			<if test="filePath != null" >
			    file_path,
			</if>
			<if test="fileUrl != null" >
			    file_url,
			</if>
			<if test="updatetime != null" >
			    updatetime,
			</if>
			<if test="inputtime != null" >
			    inputtime,
			</if>
			<if test="isDel != null" >
			    is_del,
			</if>
			<if test="oss != null" >
			    oss,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null">
			    #{id,jdbcType=VARCHAR},
			</if>
			<if test="orgId != null">
			    #{orgId,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
			    #{userId,jdbcType=VARCHAR},
			</if>
			<if test="code != null">
			    #{code,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
			    #{type,jdbcType=VARCHAR},
			</if>
			<if test="fileType != null">
			    #{fileType,jdbcType=VARCHAR},
			</if>
			<if test="fileName != null">
			    #{fileName,jdbcType=VARCHAR},
			</if>
			<if test="fileSize != null">
			    #{fileSize,jdbcType=DECIMAL},
			</if>
			<if test="filePath != null">
			    #{filePath,jdbcType=VARCHAR},
			</if>
			<if test="fileUrl != null">
			    #{fileUrl,jdbcType=VARCHAR},
			</if>
			<if test="updatetime != null">
			    #{updatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="inputtime != null">
			    #{inputtime,jdbcType=TIMESTAMP},
			</if>
			<if test="isDel != null">
			    #{isDel,jdbcType=DECIMAL},
			</if>
			<if test="oss != null">
			    #{oss,jdbcType=DECIMAL},
			</if>
		</trim>
	</sql>

	<!-- 批量插入实体对应的字段语句 -->
	<sql id="Base_Column_List">
	  ID,ORG_ID,USER_ID,CODE,TYPE,FILE_TYPE,FILE_NAME,FILE_SIZE,FILE_PATH,FILE_URL,UPDATETIME,INPUTTIME,IS_DEL,oss
	</sql>



	<!-- ################################################################################################## 
		#########################基础定义配置 通用脚本（无需修改，单resultType需要替换）############# ################################################################################################## -->

	<!-- 查询所有实体信息，对应接口中的find方法 -->
	<select id="find" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="table_name" />
	</select>

	<select id="findListPage" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="table_name" />
		where 1=1
		<include refid="entity_condition_orderby" />
	</select>

	<!-- 根据条件查询所有实体信息，对应接口中的findByCondtion方法 -->
	<select id="findByCondtion" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="table_name" />
		where 1=1
		<include refid="entity_condition_orderby" />
	</select>

	<!-- 按编号获取实体信息，对应接口中的getByPrimaryKey方法 -->
	<select id="getByOrgIdPrimaryKey" parameterType="Map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="table_name" />
		where ID = #{id,jdbcType=VARCHAR}
		<if test="orgId != null">
			AND ORG_ID = #{orgId}
		</if>
	</select>

	<!-- 按条件查询获取实体信息，对应接口中的getByCondtion方法 -->
	<select id="getByCondtion" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="table_name" />
		where 1=1
		<include refid="entity_condition_orderby" />
	</select>

	<!-- 添加实体 -->
	<insert id="insert" parameterType="com.qftx.tsm.sys.bean.SysFileBean">
		insert into
		<include refid="table_name" />
		<include refid="insert_into_field" />
	</insert>

	<!-- 修改实体 -->
	<update id="update" parameterType="com.qftx.tsm.sys.bean.SysFileBean">
		update
		<include refid="table_name" />
		<include refid="trents_update_set_sql" />
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<!-- 动态修改实体 -->
	<update id="updateTrends" parameterType="com.qftx.tsm.sys.bean.SysFileBean">
		update
		<include refid="table_name" />
		<include refid="trents_update_set_sql" />
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="string">
		delete
		<include refid="table_name" />
		where ID = #{id,jdbcType=VARCHAR}
	</delete>

</mapper>