<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qftx.tsm.sms.dao.TsmSendSmsDetailMapper" >
	<!-- 
	#################################################################################################
	#########################基础定义配置(需要修改部分)###############################################
	################################################################################################
	-->
  <resultMap id="BaseResultMap" type="com.qftx.tsm.sms.bean.TsmSendSmsDetail" >
    <id column="SMS_DETAIL_ID" property="smsDetailId" jdbcType="VARCHAR" />
    <result column="SMS_ID" property="smsId" jdbcType="VARCHAR" />
    <result column="RECEIPT_STATUS" property="receiptStatus" jdbcType="VARCHAR" />
    <result column="SEND_DATE" property="sendDate" jdbcType="TIMESTAMP" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="MOBILEPHONE" property="mobilePhone" jdbcType="VARCHAR" />
    <result column="SMS_NUMBER" property="smsNumber" jdbcType="VARCHAR" />
    <result column="BATCH_ID" property="batchId" jdbcType="VARCHAR" />
    <result column="SUBMIT_STATUS" property="submitStatus" jdbcType="VARCHAR" />
  	<result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />	
  	<result column="SMS_TYPE" property="type" jdbcType="DECIMAL" />
  	<result column="SMS_CONTENT" property="smsContent" jdbcType="VARCHAR" />
  	<result column="INPUT_ACC" property="inputAcc" jdbcType="VARCHAR" />
  	<result column="SIGNATURE" property="signAture" jdbcType="VARCHAR" />
  	
  </resultMap>

	<!-- 实体表名 -->
	<sql id="table_name">TSM_SMS_SEND_DETAIL</sql>
	
	<!-- 实体条件查询组装 -->
	<sql id="entity_condition_orderby">
		<if test="smsId != null and smsId !=''" >
		  AND SMS_ID = #{smsId,jdbcType=VARCHAR}
		</if>
		<if test="smsDetailId != null and smsDetailId !=''" >
		  AND SMS_DETAIL_ID = #{smsDetailId,jdbcType=VARCHAR}
		</if>
		<if test="receiptStatus != null and receiptStatus !=''" >
		  AND RECEIPT_STATUS = #{receiptStatus,jdbcType=VARCHAR}
		</if>
		<if test="sendDate != null" >
		  AND SEND_DATE = #{sendDate,jdbcType=TIMESTAMP}
		</if>
		<if test="name != null and name !=''" >
		  AND NAME = #{name,jdbcType=VARCHAR}
		</if>
		<if test="mobilePhone != null and mobilePhone !=''" >
		    AND MOBILEPHONE = #{mobilePhone,jdbcType=VARCHAR}
		</if>
		<if test="smsNumber != null and smsNumber !=''" >
		  AND SMS_NUMBER = #{smsNumber,jdbcType=VARCHAR}
		</if>
	</sql>
	
	<!-- 动态修改实体对应set语句 -->
	<sql id="trents_update_set_sql">
		<trim prefix="set" suffixOverrides=",">
			<if test="smsId != null" >
			   SMS_ID = #{smsId,jdbcType=VARCHAR},
			</if>
			<if test="smsDetailId != null" >
			   SMS_DETAIL_ID = #{smsDetailId,jdbcType=VARCHAR},
			</if>
			<if test="receiptStatus != null " >
			   RECEIPT_STATUS = #{receiptStatus,jdbcType=VARCHAR},
			</if>
			<if test="sendDate != null" >
			   SEND_DATE = #{sendDate,jdbcType=TIMESTAMP},
			</if>
			<if test="name != null" >
			   NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="mobilePhone != null" >
			   MOBILEPHONE = #{mobilePhone,jdbcType=VARCHAR},
			</if>
			<if test="smsNumber != null" >
			   SMS_NUMBER = #{smsNumber,jdbcType=VARCHAR},
			</if>
			<if test="orgId != null" >
			   ORG_ID = #{orgId,jdbcType=VARCHAR},
			</if>
		</trim>
	</sql>
	
	<!-- 插入实体对应的字段语句 -->
	<sql id="insert_into_field">
		<trim prefix="(" suffix=")" suffixOverrides=",">
			    <if test="smsId != null" >
		           SMS_ID,
		        </if>
		        <if test="smsDetailId != null" >
			       SMS_DETAIL_ID,
				</if>
				<if test="receiptStatus != null" >
				   RECEIPT_STATUS,
				</if>
				<if test="sendDate != null" >
				   SEND_DATE,
				</if>
				<if test="name != null" >
				   name,
				</if>
				<if test="mobilePhone != null" >
				   MOBILEPHONE,
				</if>
				<if test="smsNumber != null" >
				   SMS_NUMBER,
				</if>
				<if test="orgId != null" >
			   		ORG_ID,
				</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="smsId != null" >
			    #{smsId,jdbcType=VARCHAR},
			</if>
		    <if test="smsDetailId != null" >
			    #{smsDetailId,jdbcType=VARCHAR},
			</if>
			<if test="receiptStatus != null" >
			    #{receiptStatus,jdbcType=VARCHAR},
			</if>
			<if test="sendDate != null" >
			    #{sendDate,jdbcType=TIMESTAMP},
			</if>
			<if test="name != null" >
			    #{name,jdbcType=VARCHAR},
			</if>
			<if test="mobilePhone != null" >
			    #{mobilePhone,jdbcType=VARCHAR},
			</if>
			<if test="smsNumber != null" >
			    #{smsNumber,jdbcType=VARCHAR},
			</if>
			<if test="orgId != null" >
			    #{orgId,jdbcType=VARCHAR},
			</if>
		</trim>
	</sql>
	
	<!-- 批量插入实体对应的字段语句 -->
	<sql id="Base_Column_List" >
	    SMS_ID,SMS_DETAIL_ID,RECEIPT_STATUS,SEND_DATE,
		name,MOBILEPHONE,SMS_NUMBER,BATCH_ID,SUBMIT_STATUS,ORG_ID
	</sql>
	<sql id="batch_insert_into_value">
		(
		        #{item.smsId,jdbcType=VARCHAR},
			    #{item.smsDetailId,jdbcType=VARCHAR},
			    #{item.receiptStatus,jdbcType=VARCHAR},
			    #{item.sendDate,jdbcType=TIMESTAMP},
			    #{item.name,jdbcType=DECIMAL},
			    #{item.mobilePhone,jdbcType=VARCHAR},
			    #{item.smsNumber,jdbcType=VARCHAR},
			    #{item.batchId,jdbcType=VARCHAR},
			    #{item.submitStatus,jdbcType=VARCHAR},
			    #{item.orgId,jdbcType=VARCHAR}
		)
	</sql>

	<!-- 
	############################################################################################
	#########################基础定义配置     通用脚本（无需修改，单resultType需要替换）#############
	###########################################################################################
	-->
	<!-- 查询所有实体信息，对应接口中的find方法 -->
	<select id="find" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/>
		from <include refid="table_name"/>
	</select>
	
	<!-- 根据条件分页查询所有实体信息 ，对于接口中的findListPage方法-->
	<select id="findListPage" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/> from <include refid="table_name"/> where ORG_ID = #{orgId}
		<include refid="entity_condition_orderby"/>
	</select>	
	
	<!-- 根据条件查询所有实体信息，对应接口中的findByCondtion方法 -->
	<select id="findByCondtion" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/> from <include refid="table_name"/> 
		where ORG_ID = #{orgId}
		<include refid="entity_condition_orderby"/>
	</select>
	
	<!-- 按条件查询获取实体信息，对应接口中的getByCondtion方法 -->
	<select id="getByCondtion"  resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/> from <include refid="table_name"/> 
		where ORG_ID = #{orgId}
		<include refid="entity_condition_orderby"/>
	</select>
		
	<!-- 添加实体 -->
	<insert id="insert" parameterType="com.qftx.tsm.sms.bean.TsmSendSmsDetail">
		insert into <include refid="table_name"/> 
		<include refid="insert_into_field"/>
	</insert>
	
	<!-- 批量添加实体 -->
	<insert id="insertBatch" parameterType="list">
		insert into <include refid="table_name"/> ( <include refid="Base_Column_List" /> )
		values
		<foreach collection="list" item="item" index="index" separator=",">
        	<include refid="batch_insert_into_value"/>
    	</foreach>
	</insert>
	
	<!-- 修改实体 -->
	<update id="update" parameterType="com.qftx.tsm.sms.bean.TsmSendSmsDetail">
		update <include refid="table_name"/>
		<include refid="trents_update_set_sql"/>
		where ORG_ID = #{orgId} and SMS_DETAIL_ID = #{smsDetailId,jdbcType=VARCHAR}
	</update>
	
	<!-- 动态修改实体 -->
	<update id="updateTrends" parameterType="com.qftx.tsm.sms.bean.TsmSendSmsDetail">
		update <include refid="table_name"/> 
		<include refid="trents_update_set_sql"/>
		where ORG_ID = #{orgId} and  SMS_DETAIL_ID = #{smsDetailId,jdbcType=VARCHAR}
	</update>
	
	<!-- 删除实体 -->
	<delete id="delete" parameterType="string">
		delete <include refid="table_name"/> where SMS_DETAIL_ID = #{smsDetailId,jdbcType=VARCHAR}
	</delete>
	
	<!-- 批量删除实体 -->
	<update id="deleteBatch" parameterType="Map">
		update <include refid="table_name"/> set IS_DEL=1 where  ORG_ID = #{orgId} and  SMS_DETAIL_ID in
		<foreach collection="list" item="ids" open="(" separator="," close=")">
			#{ids}
		</foreach>
	</update>
	
	<!-- 
	############################################################################################
	#########################自定义个性配置      以下添加非基础部分##################################
	###########################################################################################
	 -->
	 <resultMap type="com.qftx.tsm.sms.dto.TsmSendSmsDetailDto" id="BaseResultAll" extends="BaseResultMap">
	     <result column="user_name" property="ownerName" jdbcType="VARCHAR"/>
	     <result column="org_name" property="orgName" jdbcType="VARCHAR"/>
	 </resultMap>
	 <select id="getSendSmsDetailListPage" parameterType="com.qftx.tsm.sms.dto.TsmSendSmsDetailDto" resultMap="BaseResultAll">
    	SELECT <include refid="Base_Column_List"/>
		FROM TSM_SMS_SEND_DETAIL
		WHERE  ORG_ID = #{orgId} and SMS_ID = #{smsId}
		ORDER BY SEND_DATE DESC
    </select>
	 <!-- 根据主表的短信id，删除明细里的相关记录 -->
	 <delete id="removeByMajorId" parameterType="string">
	       delete  from  tsm_sms_send_detail  t where  t.ORG_ID = #{orgId} and t.sms_id=#{id}
	 </delete>
	 
	 <!-- 挂机短信发送记录 -->
	  <select id="getHookSendSmsDetailListPage" parameterType="com.qftx.tsm.sms.dto.TsmSendSmsDetailDto" resultMap="BaseResultAll">
    	SELECT MOBILEPHONE,SMS_CONTENT,SMS_NUMBER,SEND_DATE,SIGNATURE,SUBMIT_STATUS 
		FROM TSM_SMS_SEND_DETAIL
		WHERE  ORG_ID = #{orgId} AND SMS_TYPE = 1 
		<if test=" inputAcc != null and inputAcc != '' ">
			AND INPUT_ACC = #{inputAcc}
		</if>		
		<if test=" startDate != null and startDate !='' ">
			AND SEND_DATE >=
			 str_to_date(concat(#{startDate,jdbcType=VARCHAR}, '00:00:00'),
                                       '%Y-%m-%d %H:%i:%s')
		</if>
		<if test=" endDate != null and endDate !='' ">
			AND SEND_DATE <![CDATA[ <= ]]>
			str_to_date(concat(#{endDate,jdbcType=VARCHAR}, '23:59:59'),
                                       '%Y-%m-%d %H:%i:%s')
		</if>
		<if test=" queryText != null and queryText != '' ">
  			<choose>
       			<when test="queryType == '1'.toString()">
       				AND MOBILEPHONE LIKE concat('%',#{queryText},'%')
       			</when>
       		</choose>
       	</if>
		ORDER BY SEND_DATE DESC
    </select>
    
</mapper>