<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qftx.tsm.email.dao.TsmEmailSendLogMapper" >
  <resultMap id="BaseResultMap" type="com.qftx.tsm.email.bean.TsmEmailSendLog" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
    <result column="ses_id" property="emailSendId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="DECIMAL" />
    <result column="email_revice_user" property="emailReviceUser" jdbcType="VARCHAR" />
    <result column="inputtime" property="inputTime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="IS_DEL" property="isDel" jdbcType="DECIMAL" />
  </resultMap>
  
  <!-- 实体表名 -->
	<sql id="table_name">sys_email_log</sql>
 	
 	<!-- 实体条件查询组装 -->
	<sql id="entity_condition_orderby">
		  <if test="emailSendId != null and emailSendId !=''" >
			  AND ses_id = #{emailSendId,jdbcType=VARCHAR}
		  </if>
	      <if test="emailReviceUser != null" >
	         AND email_revice_user = #{emailReviceUser,jdbcType=VARCHAR}
	      </if>
	      <if test="status != null" >
	         AND status = #{status,jdbcType=DECIMAL}
	      </if>
	      <if test="orderKey != null"> 
			  ORDER BY ${orderKey}
		  </if>
  	</sql>
  	
	<!-- 动态修改实体对应set语句 -->
	<sql id="trents_update_set_sql">
		<trim prefix="set" suffixOverrides=",">
			<if test="emailSendId != null and emailSendId != ''" >
		        ses_id = #{emailSendId,jdbcType=VARCHAR},
		      </if>
		      <if test="status != null " >
		        status = #{status},
		      </if>
		      <if test="isDel != null" >
		        IS_DEL = #{isDel},
		      </if>		      
		      <if test="emailReviceUser != null and emailReviceUser != ''" >
		        email_revice_user = #{emailReviceUser,jdbcType=VARCHAR},
		      </if>
		      <if test="updateTime != null" >
		        updatetime = #{updateTime,jdbcType=TIMESTAMP},
		      </if>
		</trim>
	</sql>
  
  <sql id="insert_into_field">
  	<trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="emailSendId != null" >
        ses_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="emailReviceUser != null" >
        email_revice_user,
      </if>
      <if test="inputTime != null" >
        inputtime,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=VARCHAR},
      </if>
       <if test="emailSendId != null" >
        #{emailSendId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="emailReviceUser != null" >
        #{emailReviceUser,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null" >
        #{inputTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=DECIMAL},
      </if>

    </trim>
  </sql>
  
  <!-- 批量插入实体对应的字段语句 -->
  <sql id="Base_Column_List" >
    id, org_id, ses_id, status, inputtime, updatetime, is_del, email_revice_user
  </sql>
  <sql id="batch_insert_into_value">
   (
   		#{item.id,jdbcType=VARCHAR},
   		#{item.orgId,jdbcType=VARCHAR},
   		#{item.emailSendId,jdbcType=VARCHAR},
   		#{item.status,jdbcType=VARCHAR},
   		#{item.inputTime,jdbcType=TIMESTAMP},
   		#{item.updateTime,jdbcType=TIMESTAMP},
   		#{item.isDel,jdbcType=DECIMAL},
   		#{item.emailReviceUser,jdbcType=VARCHAR}
   		)
  </sql>
  
  <!-- 查询所有实体信息，对应接口中的find方法 -->
	<select id="find" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/>
		from <include refid="table_name"/>
	</select>
	
	<!-- 根据条件分页查询所有实体信息 ，对于接口中的findListPage方法-->
	<select id="findListPage" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/> from <include refid="table_name"/> where ORG_ID = #{orgId}
		<include refid="entity_condition_orderby"/>
	</select>	
	
	<!-- 根据条件查询所有实体信息，对应接口中的findByCondtion方法 -->
	<select id="findByCondtion" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/> from <include refid="table_name"/> 
		where  ORG_ID = #{orgId}
		<include refid="entity_condition_orderby"/>
	</select>
	
	<!-- 按条件查询获取实体信息，对应接口中的getByCondtion方法 -->
	<select id="getByCondtion"  resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/> from <include refid="table_name"/> 
		where  ORG_ID = #{orgId}
		<include refid="entity_condition_orderby"/>
	</select>
		
	<!-- 添加实体 -->
	<insert id="insert" parameterType="com.qftx.tsm.email.bean.TsmEmailSendLog">
		insert into <include refid="table_name"/> 
		<include refid="insert_into_field"/>
	</insert>
	
	<!-- 批量添加实体 -->
	<insert id="insertBatch" parameterType="list">
		insert into <include refid="table_name"/> ( <include refid="Base_Column_List" /> )
		values
		<foreach collection="list" item="item" index="index" separator=",">
        	<include refid="batch_insert_into_value"/>
    	</foreach>
	</insert>
	
	<!-- 修改实体 -->
	<update id="update" parameterType="com.qftx.tsm.email.bean.TsmEmailSendLog">
		update <include refid="table_name"/>
		<include refid="trents_update_set_sql"/>
		where  ORG_ID = #{orgId} and id = #{id,jdbcType=VARCHAR}
	</update>
	
	<!-- 动态修改实体 -->
	<update id="updateTrends" parameterType="com.qftx.tsm.email.bean.TsmEmailSendLog">
		update <include refid="table_name"/> 
		<include refid="trents_update_set_sql"/>
		where  ORG_ID = #{orgId} and id = #{id,jdbcType=VARCHAR}
	</update>
	
	<!-- 删除实体 -->
	<delete id="delete" parameterType="string">
		delete <include refid="table_name"/> where id = #{id,jdbcType=VARCHAR}
	</delete>
	
	<!-- 批量删除实体 -->
	<update id="deleteBatchBy" parameterType="Map">
		update <include refid="table_name"/> set IS_DEL=1 where  ORG_ID = #{orgId} and id in
		<foreach collection="list" item="ids" open="(" separator="," close=")">
			#{ids}
		</foreach>
	</update>

</mapper>